body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  background-color: papayawhip;
  color: black
};

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

